{% extends 'base.html' %}

{% block title %} Последние статьи {% endblock %}

{% block content %}

    {% if last_articles %}
        <h2>Последние статьи:</h2>
        <div class="panel-group">
            {% for a in last_articles %}
                <div class="panel panel-default">
                    <br>
                    <div class="panel-body"><a href="{% url 'main:article' a.id %}">{{a.article_title}}</a></div>
                    <br>
                </div>

            {% endfor %}
        </div>
    {% else %}
        Статей нет =(
    {% endif %}


{% endblock %}
