{% extends 'base.html' %}

{% block title %}{{article.article_title}}{% endblock %}

{% block content %}
    <div class="container shadow-lg bg-white rounded">

        <br>
        <div>
            <span class="font-weight-bolder">
                {% if article.user %}
                    {{article.user.username}}
                {% else %}
                    Noname
                {% endif %}
            </span>
            <span class="text-secondary small em">{{article.pub_date}}</span>
            {% if article.was_publish_recently %}
                [Новая статья]
            {% endif %}
        </div>
        <h2>{{article.article_title}}</h2>


        <p>{{article.article_text|safe}}</p>





        <hr>

        <h6>Последние комментарии:</h6>
        {% if last_comments %}
            <div class="cards">

            {% for c in last_comments %}
                <div class="card mb-3">
<!--                    <div class="card-header bg-transparent border-primary">-->
                    <div class="card-body border-primary border-dark">
                            <p class="card-title"><strong class="text-right">{{c.author_name}}</strong></p>
<!--                        <hr>-->
                            <p class="card-text">{{c.comment_text}}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% else %}
            Комментариев пока нет будьте первым =)
        {% endif %}

        <hr>

        <form action="{% url 'main:post_comment' article.id %}" method="post">
            {% csrf_token %}
            <textarea name="text" required placeholder="Текст комментария" cols="60" rows="6" class="form-control"></textarea><br>
            {% if user.is_authenticated %}
                <button type="submit" class="btn btn-success">Отправить комментарий</button>
            {% else %}
                <span class="warning">Чтобы писать комментарии надо <a href="{% url 'main:login' %}">авторизоваться</a></span>
            {% endif %}

        </form>
        <br>
    </div>
{% endblock %}
