{% extends 'base.html' %}

{% load static %}

{% block title %} Последние статьи {% endblock %}

{% block content %}
    <script>


    </script>


    {% if last_articles %}
        <h2>Последние статьи:</h2>
        <br>
        <div class="list-articles cards" id="articles">
            {% for a in last_articles %}
                <script>
                    addArticleOfList(urlOfArticle({{a.id}}), `{{a.article_title}}`, `{{a.article_introduction|safe}}`,
                                     `{{a.introduction_img}}`, `{{a.pub_date|safe}}`, `{{a.user.username}}`)
                </script>
            {% endfor %}
        </div>
        <div class="center" id="end"></div>
        <script src="{% static 'main/js/articles.js' %}"></script>
    {% else %}
        Статей нет =(
    {% endif %}


{% endblock %}
