{% extends 'base.html' %}

{% load static %}

{% block title %} Последние статьи {% endblock %}

{% block content %}
    <script>
        function addArticleOfList(url, title, intro, img, pub_date, username) {
            pub_date = new Date(pub_date);
            if (!username) username = "NoName";
            html_article = `
            <article class="card mb-3" id="article">
                    <div class="card-header bg-transparent border-primary">
                        ${username}
                    </div>`
            if (img){
                html_article += `<img src="${img}" class="card-img-top" alt="Img ${title}">`
            }
            html_article += `
                    <div class="card-body">
                        <h5 class="card-title">${title}</h5>
                        <p class="card-text">${intro}</p>
                        <div class="row">
                                <div class="col-auto mr-auto"><a href="${url}" class="btn btn-outline-primary">Читать статью</a></div>
                                <div class="col-auto"><p class="card-text"><small class="text-muted">${pub_date}</small></p></div>


                        </div>
                    </div>
            </article>`
            $("#articles").append(html_article);
            return html_article
        }

    </script>


    {% if last_articles %}
        <h2>Последние статьи:</h2>
        <br>
        <div class="list-articles cards" id="articles">
            {% for a in last_articles %}
                <script>
                    addArticleOfList(urlOfArticle({{a.id}}), `{{a.article_title}}`, `{{a.article_introduction|safe}}`,
                                     `{{a.introduction_img}}`, `{{a.pub_date|safe}}`, `{{a.user.username}}`)
                </script>
            {% endfor %}
        </div>
        <div class="center" id="end"></div>
        <script src="{% static 'main/js/articles.js' %}"></script>
    {% else %}
        Статей нет =(
    {% endif %}


{% endblock %}
